:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}
body {
  margin: 0;
}
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: calc(100vh - 40px);
  gap: 15px;
  padding: 20px 20px;
  box-sizing: border-box;
}
button{
  width: 100%;
  max-width: 1200px;
  height: 35px;
  position: sticky;
  z-index: 10000;
  transition: 350ms;
}
button[game = false]{
  transform: translateY(50%);
  top: 50%;
}
button[game = true]{
  transform: translateY(0%);
  top: 10px;
}
section{
  width: 100%;
  max-width: 1200px;
  height: calc(100% - 35px - 20px);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  box-sizing: border-box;
}
section[game = false]{
  opacity: 0;
}
section[game = true]{
  transition: 300ms ease-in-out;
  opacity: 1;
}
.cardDiv{
  width: 23%;
  height: 30vh;
  max-height: 270px;
  position: relative;
}
.card{
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 8px;
  border: 3px darkorange solid;
  box-sizing: border-box;
}
.card_back{
  top: 0;
  position: absolute;
  transform: rotateY(180deg);
  background: darkslateblue;
  pointer-events: none;
}
.card_front{
  pointer-events: none;
  background-color: darkcyan;
  color: white;
}
.cardDiv[state = close] .card_back{
  transform: rotateY(0deg);
}
.cardDiv[state = close] .card_front{
  transform: rotateY(180deg);
}
.cardDiv[state = open] .card_back{
  transform: rotateY(180deg);
}
.cardDiv[state = open] .card_front{
  transform: rotateY(0deg);
}
.cardDiv[solved = true]{
  pointer-events: none;
}
.cardDiv[solved = true] .card_front{
  transform: rotateY(0deg);
}
.cardDiv[solved = true] .card_back{
  transform: rotateY(180deg);
}

@media (max-width: 610px) {
  .cardDiv{
    width: 30%;
  }
}
@media (max-width:530px){
 .cardDiv{
  width: 45%;
 }
}